<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--服务暴露端口号-->
    <dubbo:protocol name="dubbo" port="20882"/>
    <!--服务提供者名称-->
    <dubbo:application name="pinyougou-search-service"/>
    <!--注册中心信息-->
    <dubbo:registry address="zookeeper://192.168.12.168:2181"/>
    <!--扫描使用了阿里dubbo的注解的包-->
    <dubbo:annotation package="com.pinyougou.search.service.impl"/>
</beans>