<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/security
                http://www.springframework.org/schema/security/spring-security.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--引用dubbo服务-->
    <!--在注册中心的名称-->
    <dubbo:application name="pinyougou-shop-web"/>
    <!--注册中心信息-->
    <dubbo:registry address="zookeeper://192.168.12.168:2181"/>
    <!--扫描阿里dubbo的注解的包路径-->
    <dubbo:reference interface="com.pinyougou.sellergoods.service.SellerService"  id="sellerService"/>





    <!--页面拦截规则 不需要登录就可以访问的-->
    <http pattern="/register.html" security="none"/>
    <http pattern="/shoplogin.html" security="none"/>
    <http pattern="/seller/add.do" security="none"/>
    <http pattern="/css/**" security="none"/>
    <http pattern="/img/**" security="none"/>
    <http pattern="/js/**" security="none"/>
    <http pattern="/plugins/**" security="none"/>






    <!--配置哪些资源 是 需要什么权限才能访问-->
    <!--如果use-expressions为false,则可以不用写hasRole('ROLE_USER'),直接写"ROLE_USER"-->
    <http use-expressions="false">
        <!--拥有USER角色可以访问任意页面-->
        <intercept-url pattern="/**" access="ROLE_SELLER"/>
        <!--设置表单登录信息 分别是登录页面,登录成功跳转页面,登录失败页面,登录成功是不是一直都跳转到登录成功页面-->
        <form-login login-page="/shoplogin.html" default-target-url="/admin/index.html"
                    authentication-failure-url="/shoplogin.html" always-use-default-target="true"/>
        <!--禁止跨站请求伪造校验(防钓鱼)-->
        <csrf disabled="true"/>
        <!--如果使用了iframe等框架,希望跳转页是在框架内跳转的话-->
        <headers>
            <frame-options policy="SAMEORIGIN"/>
        </headers>
    <logout/><!--退出-->
    </http>





    <!--配置自定义认证-->
    <beans:bean id="userDetailsServiceImpl" class="com.pinyougou.shop.service.impl.UserDetailsServiceImpl" >
        <beans:property name="sellerService" ref="sellerService"/>
    </beans:bean>

    <!--配置加密算法-->
    <beans:bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>





    <!--<beans:bean class="com.pinyougou.shop.service.impl.UserDetailsServiceImpl" id="userDetailsServiceImpl"/>-->
    <!--认证管理器-->
    <authentication-manager>
        <authentication-provider user-service-ref="userDetailsServiceImpl">
            <password-encoder ref="passwordEncoder"/>
        </authentication-provider>
    </authentication-manager>

</beans:beans>